body{
    width: 100%;
    height: 100vh;
    margin: 0;
    color: white;
    background: url(https://st4.depositphotos.com/1194063/23038/i/450/depositphotos_230387814-stock-photo-colorful-carnival-birthday-background-masquerade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    overflow: auto;
    height: 100vh;
}
h1{
    text-align: center;
}

fieldset {
    background-color: #000000aa;
    margin: 80px 40px;
    border: 4px solid black;
    width: fit-content;
    max-width: 500px;
    position: relative;
}
fieldset:nth-child(even of fieldset){
    margin: 0 15px 0 auto;
}
img {
    border: 4px solid white;
    margin: 20px 60px;
}
img:not(.galeria img):nth-child(odd of img) {
    float: right;
}
img:not(.galeria img):nth-child(even of img) {
    float: left;
    margin-top:45px;
}
legend {
    background-color: black;
    border-radius: 6px;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 20px;
}
fieldset p{
    font-size: 18px;
    width: 100%;
    text-align: center;
}
fieldset li {
    font-size: 18px;
}

h1, h2{
    font-size: 50px;
    margin: 15px auto;
    background-color: #000000aa;
    border-radius: 10px;
    padding: 4px 67px;
    width: fit-content;
}

nav {
    margin: 30px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    & a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        background-color: #00000067;
        padding: 2px 5vw;
        border-radius: 10px;
        &:hover{
            color: white;
            background-color: #000000aa;
        }
    }
}
